<h1>All about <%= @kitten.name %> </h1>

<%# Toggle Dropdown menu %>
<div data-controller="toggle" data-toggle-hidden-class="hidden">
  <button data-action="click->toggle#toggle">Show/Hide Kitten</button>
  <div data-toggle-target="toggleable" class="hidden">
    <p>I'm a <%= @kitten.name %>.</p>
    <p>I'm <%= @kitten.age %> years old.</p>
    <p>I'm <%= @kitten.cuteness %> cute.</p>
    <p>My softness is <%= @kitten.softness %> out of 10.</p>
  </div>
</div>

<%= link_to 'Edit', edit_kitten_path(@kitten) %>

<%= button_to 'Delete', kitten_path(@kitten), method: :delete, data: { confirm: 'Are you sure?' } %>
