<h1>All about <%= @kitten.name %> </h1>

<p>I'm a <%= @kitten.name %>.</p>
<p>I'm <%= @kitten.age %> years old.</p>
<p>I'm <%= @kitten.name %> cute.</p>
<p>My softness is <%= @kitten.name %> out of 10.</p>
<%=  %>
